<mat-nav-list>
  <div class="logo">
    <img src="./assets/Frame.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item [routerLink]="['/home']">
    <mat-icon class="edit-icon">home</mat-icon>
    <span class="edit-text"> Home</span></a
  >
  <a mat-list-item [routerLink]="['/dashboard']">
    <mat-icon class="edit-icon">dashboard</mat-icon><span class="edit-text"> Dashboard </span>
  </a>

  <a mat-list-item>
    <mat-icon class="edit-icon">edit</mat-icon>
    <span class="edit-text"> Link 3</span>
  </a>
  <a mat-list-item> <mat-icon class="edit-icon">edit</mat-icon><span class="edit-text"> Link 4 </span> </a>
  <a mat-list-item>
    <mat-icon class="edit-icon">edit</mat-icon>
    <span class="edit-text"> Link 5</span>
  </a>
</mat-nav-list>
