<h4 class="header">
  {{ translationKeys.course | translate }}: {{ course.title }}, {{ translationKeys.lesson | translate }}:
  {{ lesson.title }}
</h4>
<mat-tab-group class="panel">
  <mat-tab label="{{ translationKeys.lesson | translate }}">
    <div [innerHTML]="lesson.description"></div>
    <audio *ngIf="lesson.audio" controls>
      <source src="{{ lesson.audio }}" type="audio/mpeg" />
    </audio>
    <ngx-extended-pdf-viewer
      #pdfView
      *ngIf="pdfUrl"
      [src]="pdfUrl!"
      [page]="lesson.pageNumber"
      [height]="'95%'"
      [showBorders]="false"
      [useBrowserLocale]="true"
      [textLayer]="true"
      [showHandToolButton]="true"
      [customToolbar]="multiToolbar"
    >
    </ngx-extended-pdf-viewer>
    <ng-template #multiToolbar>
      <div class="header">
        <button mat-icon-button id="zoomIn">
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button mat-icon-button id="zoomOut">
          <mat-icon>zoom_out</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleFullScreen()">
          <mat-icon>fullscreen</mat-icon>
        </button>

        <button mat-icon-button id="print">
          <mat-icon>print</mat-icon>
        </button>
        <button mat-icon-button id="download">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </ng-template>
    <!-- <iframe
      *ngIf="course.book"
      type="application/pdf"
      [src]="
        'https://drive.google.com/gview?embedded=true&url=' + course.book + '#view=fitH&page=' + lesson.pageNumber
          | safe
      "
      width="100%"
      height="100%"
    ></iframe> -->
  </mat-tab>
  <mat-tab label="{{ translationKeys.questions | translate }}" *ngIf="lesson.questions as questions">
    <h4 *ngIf="lesson.mark">
      {{ translationKeys.your_result | translate : { result: lesson.mark, total: questions.length } }}
    </h4>
    <app-exam [questions]="questions" [done]="!!lesson.mark" (finishExam)="finishExam($event)"></app-exam>
  </mat-tab>
</mat-tab-group>
<div class="panel">
  <mat-checkbox [checked]="lesson.done" (change)="finishLesson($event.checked)">{{
    translationKeys.lesson_finished | translate
  }}</mat-checkbox>
</div>
