<mat-toolbar color="primary">
  <div class="side-menu">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">
      <img src="./assets/logo.svg" />
    </a>
  </div>
  <div class="toolbar-menu">
    <ul class="navigation-items">
      <li *ngFor="let menu of menus">
        <a [routerLink]="menu.path">{{ menu.title }}</a>
      </li>
    </ul>
  </div>
  <div class="profile">
    <button mat-button [matMenuTriggerFor]="menu">
      <span>رزان</span>
      <img mat-card-avatar src="./assets/muslim-female.png" />
    </button>
    <mat-menu #menu="matMenu" backdropClass="customize" [classList]="'customize'">
      <button mat-menu-item>
        <mat-icon>profile</mat-icon>
        Profile
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
