@use "/src/scss/layout-bp" as layout;
@use "/src/scss/variables" as variables;

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

.toolbar-menu {
  display: none;
}

img {
  height: 40px;
}

@include layout.layout-bp(gt-xs) {
  mat-toolbar {
    border-radius: 0px;
  }

  .toolbar-menu {
    display: flex;
    margin-inline-start: variables.$large;

    ul {
      display: flex;
      gap: 15px;
    }
  }
  .side-menu {
    display: none;
  }
}

.profile {
  margin-inline-start: auto;
  color: white;

  img {
    vertical-align: middle;
  }
}
