@import "/src/scss/_layout-bp.scss";

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

.toolbar-menu {
  display: none;
}

img {
  height: 40px;
}

@include layout-bp(gt-xs) {
  mat-toolbar {
    border-radius: 0px;
    justify-content: space-between;
  }

  .toolbar-menu {
    display: flex;

    ul {
      display: flex;
      gap: 15px;
    }
  }
  .side-menu {
    display: none;
  }
}
