<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="row">
  <mat-form-field *ngFor="let property of schemaInfo.schema.properties | keyvalue" class="col-xs-12 col-sm-6 col-lg-4">
    <ng-container *ngIf="['string', 'number', 'integer'].includes(getFirstType(property.value) ?? '')">
      <mat-label>{{ property.key }}</mat-label>
      <input
        matInput
        [required]="schemaInfo.schema.required?.includes(property.key) ?? false"
        [formControlName]="property.key"
      />
    </ng-container>
    <mat-slide-toggle *ngIf="getFirstType(property.value) === 'boolean'" [formControlName]="property.key">
      {{ property.key }}
    </mat-slide-toggle>
  </mat-form-field>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
