<nav
  class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0 container-xxl"
  style="direction: rtl; padding-right: 0 !important"
>
  <a href="index.html" class="navbar-brand">
    <img src="/assets/public/img/new/Frame.png" alt="" height="95" width="100" />
  </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav mx-auto">
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size: 19px; color: #0e576b"
          >من نحن</a
        >
        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">الأهداف</a>
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">الرؤية</a>
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">الرسالة</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size: 19px; color: #0e576b"
          >الأقسام العلمية</a
        >
        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">القرآن الكريم</a>
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">اللغة العربية</a>
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">العلوم الشرعية</a>
        </div>
      </div>
      <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="font-size: 19px; color: #0e576b"
          >إعلانات</a
        >
        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">دورات جديدة</a>
          <a href="#" class="dropdown-item" style="text-align: start; color: #006f94">نتائج اختبارات</a>
        </div>
      </div>
      <a routerLink="/login" class="nav-item nav-link" style="font-size: 19px; color: #0e576b">التسجيل</a>
      <a href="{{ loginPrefix }}/api/connect/google" class="nav-item nav-link" style="font-size: 19px; color: #0e576b"
        >تسجيل الدخول</a
      >
      <a href="#" class="nav-item nav-link" style="font-size: 19px; color: #0e576b">اتصل بنا</a>
    </div>
    <a routerLink="./login" class="btn new-round px-3 d-none d-lg-block" style="background-color: #deb626; color: white"
      >انضم الآن<i class="fa fa-arrow-left me-3"></i
    ></a>
    <a class="btn new-round px-3 d-none d-lg-block" href="{{ loginPrefix }}/api/connect/google" style="color: #deb626"
      >تسجيل الدخول</a
    >
  </div>
</nav>
