@use "../../../../scss/colors" as colors;
@use "../../../../scss/sizes" as sizes;

.question {
  padding-bottom: sizes.$medium;
  border-bottom: 1px solid colors.$primary;
  margin-bottom: sizes.$medium;
}
