@use "./scss/colors" as colors;
@use "./scss/layout-bp" as layout;
@import "./scss/grid";
@import "./scss/material";

/* You can add global styles to this file, and also import other style files */

* {
  font-family: "El Messiri", sans-serif;
}
body {
  background-color: white !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background-color: colors.$primary;
  display: flex;
  justify-content: space-evenly;

  span {
    align-self: center;
  }
}

.panel {
  -webkit-box-shadow: 1px 1px 3px 0px #000000;
  box-shadow: 1px 1px 3px 0px #000000;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
}

mat-tab-body {
  padding-top: 1rem;
}
