@use "./scss/colors" as colors;
@import "./scss/material";

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  background-color: colors.$primary;
  display: flex;
  justify-content: space-evenly;

  span {
    align-self: center;
  }
}
