@use "../../../../scss/sizes" as sizes;
@use "../../../../scss/layout-bp" as layout;

:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .course {
    width: 40%;
    margin-bottom: sizes.$medium;
    box-sizing: border-box;

    img {
      padding: sizes.$medium;
      width: 100%;
      box-sizing: border-box;
    }

    @include layout.layout-bp(gt-xs) {
      width: 30%;
    }

    @include layout.layout-bp(gt-sm) {
      width: 22%;
    }
  }

  .sub-title {
    color: rgba(0, 0, 0, 0.54);
  }
}
