@use "/src/scss/layout-bp" as *;
@use "/src/scss/sizes" as sizes;

main {
  width: 100%;
  margin: auto;
  margin-top: sizes.$large;
  width: 95%;

  @include layout-bp(gt-sm) {
    width: 80%;
  }
}

mat-sidenav-content {
  // background-color: lightgray;
}
