<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav role="navigation">
    <app-user-sidenav-list (sidenavClose)="sidenav.close()"></app-user-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-user-header (sidenavToggle)="sidenav.toggle()"></app-user-header>
    <main *ngIf="student$ | async as student">
      <router-outlet *ngIf="!!student.paths"></router-outlet>
      <mat-spinner *ngIf="!student.paths"></mat-spinner>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
